.uk-offcanvas-bar {
    background-color: #fff !important;
    color: #000 !important;
}

.uk-close{
    color: #999 !important;
}

.uk-button-default:hover {
    background-color: #ffffff;
    border-color: #f1f1f1f1;
}

.contact-button-theme{
    background-color: #1dd1a1 !important;
    border-radius: 5px;
    color: #fff;
    padding: 0 20px !important;
    line-height: 45px !important;
    font-size: 1.250rem !important;
}

#res-mob-slider-top-rated{
    display: none;
}

#res-menus{
    display: none;
}

.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-login {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.xpulse-margin-left-small {
    margin-left: 15px !important;
}

.xpulse-margin-right-medium {
    margin-right: 40px !important;
}

.post-dex {
    z-index: 10;
}

.order-bar {
    border-top: 1px solid #EBEBEB;
    background: #fff;
    color: #666;
    position: relative;
    padding: 10px 0;
    width: 100%;
}

.uk-button-primary.orderButton{
    border-radius: 4px;
    font-weight: 600;
}

@media only screen and (max-width: 960px) {
    #res-top-rated {
        display:none;
    }

    #res-mob-slider-top-rated {
        display:inline;
    }

    #def-menus{
        display:none;
    }

    #res-menus{
        display:inline;
    }

    .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
        min-height: 0px !important;
    }

    .xpulse-margin-left-small{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .xpulse-margin-right-medium {
        margin-right: 15px !important;
    }
}